.mistakes-count {
  text-align: center;
}

.man-bounce {
  animation: shimmy 1s infinite;
  animation-direction: alternate;
}
@keyframes shimmy {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(0px, 17px);/*first value is x, second is y*/
  }
}
